.navbar {
    transition: all 0.1s;
    background: white;
}




.navbar .navbar-brand {
    color: black;
}

.nav-logo{
    height:50px;
    display: ;
    background-color: rgb(255, 255, 255,.1);
}

/* Change navbar styling on scroll */
.navbar.active {
    background: white;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
    color: ;
}
.navbar.active .nav-logo{
    height:50px;
    display: unset;
}



.nav-link:hover {
    cursor: pointer;
    text-decoration:none;
    transition: 0.2s;
    color:#8bd3dd !important;
}


/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
    .navbar .nav-link {
        background: white;
        color: #343a40 !important;
    }
    .navbar{
        background:white;
    }

    .navbar.active{
        background:white;
    }


    .navbar .navbar-brand, .navbar .nav-link .nav-item .navbar-toggler-icon{
        color:  #343a40;
    }

    .nav-logo{
        height:25px;
    }
    
}



@media (max-width: 768px) { 
    .navbar{
    display: none !important;
    }
    }

    .nav-link {
        color: rgb(0,0,0);
        font-size: larger;
        font-weight: 700;
        margin-left: 8px;
        margin-right: 8px;
        border-bottom: 3px solid transparent;
    }

    .nav-link--active {
        border-bottom: 3px solid #f582ae;
        transition: border-bottom .5s ease-in-out;
        color:#f582ae !important;
      }
      
 
    