.imagePlaceholder{
    background-color: lightgrey;
    min-height: 50vh;
}


.nav-link.active{
    border: 2px solid darkslateblue !important;
    border-bottom: none;
    color: darkslateblue !important;
}

.uploadedImage{
    width:100%;
    height: auto;
}

.imgAnnot{
    padding-left: 3%;
}

html {
    overflow-y: scroll; 
  }

 .genMsg{
    display: none;
 }

 @media print
{  
    .genMsg{
        display: block;
     } 
}

  