.header{
    margin: 5%;
    padding-top: 2%;
}

a:hover{
    text-decoration: inherit !important;
    color: inherit !important;
}
a{
    text-decoration: inherit !important;
    color: inherit !important;
}

.howTo{
    padding: 5%;
    padding-bottom: 0;
}