.header{
    margin: 5%;
    padding-top: 5%;
}

a:hover{
    text-decoration: inherit !important;
    color: inherit !important;
}
a{
    text-decoration: inherit !important;
    color: inherit !important;
}