.imagePlaceholder{
    background-color: lightgrey;
    min-height: 50vh;
}


.nav-link.active{
    border: 2px solid darkslateblue !important;
    border-bottom: none;
    color: darkslateblue !important;
}

img{
    width:90% !important;
    height: auto;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
}

.imgAnnot{
    padding-left: 3%;
}

html {
    overflow-y: scroll; 
  }

 .genMsg{
    display: none;
 }

 @media print
{  
    .genMsg{
        display: block;
     } 
}

  